<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <div>
      {% if not request.is_authenticated %}
        {{ request.user }} <a href="auth/logout">logout</a>
      {% else %}
        <a href="auth/login">login</a>
        <a href="auth/register">register</a>
      {% endif %}
    </div>

    <div>
      <a href="/products">Products</a>
    </div>

    <h1>Home</h1>
  </body>
</html>
